@{
    Layout = null;
}
<div class="grid_32">

    @*<div class="grid_5">
        <div class="align-div-inline">
            <img alt="left" src="@Url.Content("~/Content/Images/Buttons/Button_left_curve_blue.jpg")"
                 style="height: 22px;" /></div>
        <input type="button" class="transaction-button align-div-inline standard-text standard-height-for-buttons"
            style="width: 50px;" value="Back" onclick="skillSet.commonFunctions.loadLandingPage()" />
        <div class="align-div-inline">
            <img alt="right" src="@Url.Content("~/Content/Images/Buttons/Button_right_curve_blue.jpg")"
                 style="height: 22px;" /></div>
    </div>*@
    <div class="prefix_9 grid_4">
        <div class="align-div-inline">
            <img alt="left" src="@Url.Content("~/Content/Images/Buttons/Button_left_curve_blue.jpg")"
                 style="height: 22px;" /></div>
        <input type="button" class="transaction-button align-div-inline standard-text standard-height-for-buttons"
               style="width: 60px;" value="Save" id="btnSaveSkillSet"  title="Save"/>
        <div class="align-div-inline">
            <img alt="right" src="@Url.Content("~/Content/Images/Buttons/Button_right_curve_blue.jpg")"
                 style="height: 22px;" /></div>
    </div>
    <div class="grid_1 button-seperator">
        &nbsp;</div>
    <div class="grid_5">
        <div class="align-div-inline">
            <img alt="left" src="@Url.Content("~/Content/Images/Buttons/Button_left_curve_blue.jpg")"
                     class="standard-height-for-buttons" /></div>
        <input type="submit" class="transaction-button align-div-inline standard-text standard-height-for-buttons"
            style="width: 92px;" value="Save & Proceed" id="btnProceedSkillSet" title="Save & Proceed"/>
        <div class="align-div-inline">
            <img alt="right" src="@Url.Content("~/Content/Images/Buttons/Button_right_curve_blue.jpg")"
                    class="standard-height-for-buttons" /></div>
    </div>
    <div class="grid_1 button-seperator">
        &nbsp;</div>
    <div class="grid_5">
        <div class="align-div-inline">
            <img alt="left" src="@Url.Content("~/Content/Images/Buttons/Button_left_curve_grey.jpg")"
                 class="standard-height-for-buttons" /></div>
        <input type="button" class="cancel-button align-div-inline standard-text standard-height-for-buttons"
            style="width: 60px;" id="stepOneCancel" value="Cancel" title="Cancel" onclick="skillSet.commonFunctions.cancelStep1()" />
        <div class="align-div-inline">
            <img alt="right" src="@Url.Content("~/Content/Images/Buttons/Button_right_curve_grey.jpg")"
                 class="standard-height-for-buttons" /></div>
    </div>
</div>
