@{
    Layout = null;
}
    <div class="grid_32 mandatory-field-note">
        Fields with " <span class="mandatory-field">*</span> " are mandatory
    </div>
        <div id="validationSummaryforNewPatient" class="errormessage grid_32">
         @Html.ValidationSummary()</div>
    <div class="standard-text multiple-choice-dashed-line">
    <div class="clear-height-spacing clear" />
        <div class="grid_14">
            <div class="grid_15 header-text">
                Last Name <span class="mandatory-field">*</span>:</div>
            <div class="grid_17">
                <input type="text" id="patient_lastname" class="grid_31" maxlength="250" onkeypress="return isAlphaNumeric(event)"
                    name="" value="" />
            </div>
            <div class="clear-height-spacing clear" />
            <div class="standard-text grid_15 header-text">
                Date of Birth <span class="mandatory-field">*</span>:
            </div>
            <div class="grid_17">
                <input id="patient_dateaobirth" class="grid_27" name="" value="" readonly="readonly" />
                <div class="grid_2">
                    <img id="patientAppointmentCalendarImage" alt="" src="@Url.Content("~/Content/Images/Buttons/smo_calendar.png")"/>
                </div>
            </div>
        </div>
        <div class="grid_12">
            <div class="grid_14 header-text">
                First Name <span class="mandatory-field">*</span>:</div>
            <div class="grid_18">
                <input type="text" id="patient_firstname" class="grid_32" maxlength="250" onkeypress="return isAlphaNumeric(event)"
                    name="" value="" />
            </div>
        </div>
        <div class="grid_6">
            <div class="grid_26 header-text">
                Middle Initial <span class="mandatory-field">*</span>:
            </div>
            <div class="grid_6">
                <input type="text" id="patient_middleInitial" class="grid_32" maxlength="1" onkeypress="return isAlphaNumeric(event)"
                    name="" value="" />
            </div>
        </div>
        <div class="clear-height-spacing clear" />
    </div>
    <div class="standard-text multiple-choice-dashed-line">
    <div class="clear-height-spacing clear" />
        <div class="grid_14">
            <div class="standard-text grid_15 header-text">
                Provider <span class="mandatory-field">*</span>:
            </div>
            <div class="grid_17 standard-text">
                @Html.DropDownList("patientAppointmentProvider", null, new { id = "patientAppointmentProvider", @class = "grid_32" })
            </div>
        </div>
        <div class="clear-height-spacing clear" />
    </div>
    <div class="standard-text">
    <div class="clear-height-spacing clear" />
        <div class="grid_14">
            <div class="standard-text grid_15 header-text">
                Insurance <span class="mandatory-field">*</span>:
            </div>
            <div class="grid_17 standard-text">
                @Html.DropDownList("insurance", null, new { id = "insurance", @class = "grid_32" })
            </div>
            <div class="clear-height-spacing clear" />
            <div class="grid_16 header-text">
                Name of Policy Holder <span class="mandatory-field">*</span>:</div>
            <div class="grid_14"  style="right:9px">
                <input type="text" id="Name_policyholder" class="grid_31" style="width:140px" maxlength="250" name="" value="" />
            </div>
            <div class="clear-height-spacing clear" />
            <div class="grid_15 header-text">
                SSN of Policy Holder <span class="mandatory-field">*</span>:</div>
            <div class="grid_17">
                <input type="text" id="SSN_policyholder" class="grid_30" style="width:140px" maxlength="250" name="" value="" />
            </div>
            <div class="clear-height-spacing clear" />
        </div>
        <div class="grid_12">
            <div class="grid_14 header-text">
                ID Number <span class="mandatory-field">*</span>:</div>
            <div class="grid_18">
                <input type="text" id="ID_number" class="grid_32" maxlength="250" name="" value="" />
            </div>
            <div class="clear-height-spacing clear" />
            <div class="grid_14 header-text">
                Group Number <span class="mandatory-field">*</span>:</div>
            <div class="grid_18">
                <input type="text" id="group_number" class="grid_32" maxlength="250" name="" value="" />
            </div>
        </div>
        <div class="clear-height-spacing clear" />
    </div>
        <div class="clear-height-spacing clear">
    </div>
    <div id="PatientSearch_Btns" class="prefix_12 grid_20">
    <div class="align-div-inline">
        <div class="align-div-inline">
            <img id="PatientSearch_Btn-LeftCurve" alt="left" src="@Url.Content("~/Content/Images/Buttons/Button_left_curve_orange.png")"
                 style="height: 22px;" /></div>
        <input id="save-patient" type="submit" class="navigation-button align-div-inline standard-text standard-height-for-buttons" style="width: 60px;"
               value="Save" title="Save" onclick="appointment.patientFunctions.saveAppointmentPatient()"/>
        <div class="align-div-inline">
            <img id="PatientSearch_Btn-RightCurve" alt="right" src="@Url.Content("~/Content/Images/Buttons/Button_right_curve_orange.png")"
                 style="height: 22px;" /></div>
    </div>
    <div class="grid_1 button-seperator">&nbsp;</div>
    <div class="align-div-inline">
        <div class="align-div-inline">
            <img alt="left" src="@Url.Content("~/Content/Images/Buttons/Button_left_curve_grey.jpg")" class="standard-height-for-buttons" /></div>
        <input type="submit" class="cancel-button align-div-inline standard-text standard-height-for-buttons" style="width:60px;"
            value="Cancel" title="Cancel" id="cancel-patient" onclick="appointment.patientFunctions.cancel()"/>
        <div class="align-div-inline">
            <img alt="right" src="@Url.Content("~/Content/Images/Buttons/Button_right_curve_grey.jpg")" class="standard-height-for-buttons" /></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#patient_dateaobirth").datepicker("hide");
        $("#patientAppointmentCalendarImage").click(function () {
            var date = new Date();
            var currentMonth = date.getMonth();
            var currentDate = date.getDate();
            var currentYear = date.getFullYear();
            $("#patient_dateaobirth").datepicker({ changeYear: true, yearRange: "-112:+1", maxDate: new Date(currentYear, currentMonth, currentDate-1), minDate: new Date(1900, 1, 1) });
            $("#patient_dateaobirth").datepicker("show");
        });
        $("#patient_dateaobirth").click(function () {
            $("#patient_dateaobirth").datepicker("hide");
        });        
    });
</script>
