@{
    Layout = null;
    ViewBag.Title = "Calendar";
}
<link href="@Url.Content("~/Content/SMO/simOfficeCalendarOverride.css?08292012")" rel="stylesheet" type="text/css" />
@Html.Partial("../../Views/Forms/_FormsTools")
<div class="container_32">
    <div class="grid_31 section-seperator-normal">
    </div>
    @Html.Partial("../../Views/SimOfficeCalendar/_CalendarLeftPane")
    @Html.Partial("../../Views/SimOfficeCalendar/_CalendarRightPane")
</div>
<div id="appointment_new_patient" class="container_32 appointment-new-patient">
</div>
<div id="appointment_search_patient" class="grid_32 container-grid-height" style="display: none">
</div>
<div id="appointment_load_view_content_view" style="height: 420px; width: 420px;
    display: none; overflow-x: hidden;" class="container_32">
</div>
<div id="appointment_cancel_view" style="height: 175px; width: 250px; display: none"
    class="container_32">
</div>
<div id="appointment_load_view_readonly" style="height: 420px; width: 420px; display: none"
    class="container_32">
</div>
<div id="view_more" style="display: none; padding: 5px;" class="container_32">
</div>
<script language="javascript" type="text/javascript">
var resourceListForExamRoom = @Html.Raw(Json.Encode(ViewBag.ExamRoomViewResourceList)); //List for Exam Room View calendar column 
$(document).ready(function () {
	$("#frontOfficeTitle").html("@ViewBag.Title");
	initializeCalendarView();
	apply6pmTimeLine();
}); 
</script>
