@{
    Layout = null;
}
@using SimChartMedicalOffice.Core.ProxyObjects
<div style="height: 200px; overflow: auto;">
    @{
        IList<CalendarEventProxy> calendarEvents = ViewBag.calendarEvents != null ? ViewBag.calendarEvents : new List<CalendarEventProxy>();
        calendarEvents = calendarEvents.OrderBy(f => Convert.ToDateTime(f.start)).ToList();
        foreach (var item in calendarEvents)
        {
           string classNameView=item.className+"-view-all";
        <div class="@classNameView" onclick="appointment.LoadNewAppointment('@String.Format("{0:MM/dd/yyyy}", Convert.ToDateTime(item.start))','@item.Url','@item.AppointmentType','@item.PatientName',@item.IsViewMode.ToString().ToLower())">
            @if (item.className.Equals("patient-visit"))
            {
                <span class="header-text">@item.PatientName</span><br /> 
            }
            else
            {
                <span class="header-text">@item.visittype</span><br /> 
            }
            <span>@item.providername</span><br />
            <span>@item.timeinterval</span><br />
        </div> 
         <div class="clear clear-min-height-spacing">
            &nbsp;</div>  
        }

    }
</div>
