<!DOCTYPE html>
<html>
<head>
    <link  rel="stylesheet" type="text/css" href="@Url.Content("~/Content/grid.css?08262012")"/>
    <script src="@Url.Content("~/Content/JS/json2.js?08262012")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.js?08262012")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js?08262012")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.20/jquery-ui-1.8.20.custom.js?08262012")" type="text/javascript"></script>    
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container_32">
        @RenderBody()
    </div>
</body>
</html>
