@{
    Layout = null;
}
@{
    string strFirstName = (ViewBag.FirstName != null) ? ViewBag.FirstName : String.Empty;
    string strLastName = (ViewBag.LastName != null) ? ViewBag.LastName : String.Empty;
    string strMiddleInitial = (ViewBag.MiddleInitial != null) ? ViewBag.MiddleInitial : String.Empty;
    string strAgeInYears = (ViewBag.AgeInYears != "0") ? ViewBag.AgeInYears : String.Empty;
    string strAgeInMonths = (ViewBag.AgeInMonths != "0") ? ViewBag.AgeInMonths : String.Empty;
    string strAgeInDays = (ViewBag.AgeInDays != "0") ? ViewBag.AgeInDays : String.Empty;
    string strDateOfBirth = (ViewBag.DateOfBirth != null) ? ViewBag.DateOfBirth : String.Empty;
    string strMedicalRecordNumber = (ViewBag.MedicalRecordNumber != null) ? ViewBag.MedicalRecordNumber : String.Empty;
    string strOfficeType = (ViewBag.OfficeTypetoload != null) ? ViewBag.OfficeTypetoload : String.Empty;
    string strProvider = (ViewBag.Providertoload != null) ? ViewBag.Providertoload : String.Empty;
    string strSex = (ViewBag.Sex != null) ? ViewBag.Sex : String.Empty;
    string imageUpload = (ViewBag.UploadImage != null) ? ViewBag.UploadImage : String.Empty;
    bool isEditMode = (ViewBag.IsEditMode != null) ? ViewBag.IsEditMode : false;
    string strPatientUrl = (ViewBag.PatientUrl != null) ? ViewBag.PatientUrl : String.Empty;
    string createdTime = (ViewBag.CreatedTime != "") ? ViewBag.CreatedTime : String.Empty;
}
<div class="grid_32">
    <div class="standard-text" style="border-top: 1px; border-top-style: solid; border-top-color: #d9d9d9;">
        <div class="form-page-header div-with-bottom-border" style="height: 32px">
            <div class="grid_8">
                Patient Builder</div>
            <div class="grid_24">
                <img alt="" src="@Url.Content("~/Content/Images/Buttons/Step1of3.png")" /></div>
        </div>
        <div class=" grid_8 patient-holder-height">
            @Html.Partial("../../Views/Builder/Patient/ReturnToPatientBuilder")
        </div>
        <div class="grid_24 patient-holder-height">
            <div class="grid_32 remove-div-space" style="overflow-y: auto; width: 700px">
                <div id = "patientStep1InnerHeader"class="grid_32 form-page-header standard-text">
                    Step 1 of 3: Patient Profile
                </div>
                <div id="PatientData" class="grid_32 div-with-border standard-text patient-content-height" style="overflow-y: auto; overflow-x: hidden;">
                    <div id="validationSummary" class="errormessage grid_32">
                        @Html.ValidationSummary()</div>
                    <div class="grid_32 mandatory-field-note">
                        Fields with " <span class="mandatory-field">*</span> " are mandatory
                    </div>
                    <div class="clear clear-height-spacing">
                    </div>
                    @Html.Partial("../../Views/Builder/Patient/_CreateNewPatient")
                    </div>
                </div>
                <div class="clear-height-spacing clear">
                </div>
                <div class="grid_4 prefix_6">
                <div class="align-div-inline">
                    <img alt="left" src="@Url.Content("~/Content/Images/Buttons/Button_left_curve_blue.jpg")"
                     class="standard-height-for-buttons" /></div>
                <input type="submit" class="transaction-button align-div-inline standard-text standard-height-for-buttons"
                    style="width: 60px;" value="Save" onclick="SavePatient()" />
                <div class="align-div-inline">
                    <img alt="right" src="@Url.Content("~/Content/Images/Buttons/Button_right_curve_blue.jpg")"
                     class="standard-height-for-buttons" /></div>
            </div>
                <div class="grid_6">
                <div class="align-div-inline">
                    <img alt="left" id="btnSavePatientLeftCurve" src="@Url.Content("~/Content/Images/Buttons/Button_left_curve_blue.jpg")"
                     class="standard-height-for-buttons" /></div>
                <input type="submit" id="btnSavePatient" class="transaction-button align-div-inline standard-text standard-height-for-buttons"
                    style="width: 100px;" value="Save & Proceed" onclick="" />
                <div class="align-div-inline">
                    <img alt="right" id="btnSavePatientRightCurve" src="@Url.Content("~/Content/Images/Buttons/Button_right_curve_blue.jpg")"
                     class="standard-height-for-buttons" /></div>
            </div>
                <div class="grid_6">
                <div class="align-div-inline">
                    <img alt="left" src="@Url.Content("~/Content/Images/Buttons/Button_left_curve_grey.jpg")" class="standard-height-for-buttons" /></div>
                <input type="submit" class="cancel-button align-div-inline standard-text standard-height-for-buttons"
                    onclick="CancelPatient()" style="width: 60px;" value="Cancel" />
                <div class="align-div-inline">
                    <img alt="right" src="@Url.Content("~/Content/Images/Buttons/Button_right_curve_grey.jpg")" class="standard-height-for-buttons" /></div>
            </div>
            </div>
            <div id="imageLoadPatient" style="display: none">
                <div id="imageLoadPatientContent">
                </div>
            </div>
            <div id="image_view_load" style="display: none">
                <div id="image_view_load_inner_content" style="height: 420px;">
                    <img id="image_view" src="" alt="x" class="image-view-larger" />
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
var savePatientUrl;
var createdTimestamp;
createdTimestamp = "@createdTime";
    var patientList;
    var editFlag;
    $.ajaxSetup({
        cache: false,
        asynch: false,
        type: "POST"
    });
    $(document).ready(function () {
        setPatientBuilderHeight();
        setPatientBuilderContentHeight();
        disableAButton("btnSavePatient");
        $("#medicalRecordNumber").val(@ViewBag.MrnNumber);
        $("#uploadImageLinkPatient").click(function () {
            showImageUploadForPatient("patientImage","imageLoadPatientContent");
        });
        $("#dayOfBirth").datepicker("hide");
        $("#patientCalendarImage").click(function () {
            $("#dayOfBirth").datepicker({ changeYear: true,yearRange: "-112:+1",minDate: new Date(1900, 1 - 1, 1)});
            $("#dayOfBirth").datepicker("show");
        });
        $("#dayOfBirth").click(function () {
            $("#dayOfBirth").datepicker("hide");
        });
        editFlag = @isEditMode.ToString().ToLower();
        if(@isEditMode.ToString().ToLower()) {
            $("#firstName").val("@strFirstName");
            $("#lastName").val("@strLastName");
            $("#middleInitial").val("@strMiddleInitial");
            $("#ageInYears").val("@strAgeInYears");
            $("#ageInMonths").val("@strAgeInMonths");
            $("#ageInDays").val("@strAgeInDays");
            $("#dayOfBirth").val("@strDateOfBirth");
            $("#" + "@strSex" + "Sex").attr('checked', true);
            patient.pageOperations.getOrSetImageReference(false, "patientImage", "@imageUpload");
            $("#medicalRecordNumber").val("@strMedicalRecordNumber");
            $("#officeType").val("@strOfficeType");
            $("#provider").val("@strProvider");            
            }
        });

    function SavePatient() {
    SetEditMode();
        patient.pageOperations.savePatient(editFlag,savePatientUrl);
    }
    function CancelPatient() {
    SetEditMode();
        patient.pageOperations.cancel(editFlag,savePatientUrl);
    }
    function SetEditMode(){
        if(editFlag){
            savePatientUrl ="@strPatientUrl";
        }
        else{    
            savePatientUrl ="";
        }
    }

    </script>
