@{
    Layout = null;
}
@using SimChartMedicalOffice.Common
<div class="info-panel grid_8 forms-content-height" id="frontOfficeInfoPanel">
    <ul class="menu">
        <li id="infopanel_header" class="info-panel-header">INFO PANEL</li>
        <li class="info-panel-content"  id="panel-@Convert.ToInt32(AppEnum.FormsRepository.MedicalRecordsRelease)">
            <a class="select-hand" id="@Convert.ToInt32(AppEnum.FormsRepository.MedicalRecordsRelease)"><span>
                Medical Records Release</span></a></li>
        <li class="info-panel-content" id="panel-@Convert.ToInt32(AppEnum.FormsRepository.PatientInformation)" >
            <a class="select-hand" id="@Convert.ToInt32(AppEnum.FormsRepository.PatientInformation)">
                <span>Patient Information</span></a></li>
        <li class="info-panel-content"  id="panel-@Convert.ToInt32(AppEnum.FormsRepository.HipaaForm)">
            <a class="select-hand" id="@Convert.ToInt32(AppEnum.FormsRepository.HipaaForm)"><span
                id="HIPPA_notice_innertext">Notice of Privacy Practice</span></a></li>
        <li class="info-panel-content" id="panel-@Convert.ToInt32(AppEnum.FormsRepository.BillOfRights)">
            <a class="select-hand" id="@Convert.ToInt32(AppEnum.FormsRepository.BillOfRights)"><span>
                Patient Bill of Rights</span></a></li>
        <li class="info-panel-content" id="panel-@Convert.ToInt32(AppEnum.FormsRepository.PatientRecordAccess)">
            <a class="select-hand" id="@Convert.ToInt32(AppEnum.FormsRepository.PatientRecordAccess)">
                <span>Patient Records Access Request</span></a></li>
        <li class="info-panel-content" id="panel-@Convert.ToInt32(AppEnum.FormsRepository.PriorAuthorizationRequestForm)">
            <a class="select-hand" id="@Convert.ToInt32(AppEnum.FormsRepository.PriorAuthorizationRequestForm)">
                <span>Prior Authorization Request</span></a></li>
        <li class="info-panel-content"  id="panel-@Convert.ToInt32(AppEnum.FormsRepository.ReferrelForm)">
            <a class="select-hand" id="@Convert.ToInt32(AppEnum.FormsRepository.ReferrelForm)"><span>
                Referral</span></a></li>
         
    </ul>
</div>
