<script type="text/javascript">
    $("#savePatientRecord-6").click(function () {
        forms.PriorauthorizationRequestForm.Save('@ViewBag.FormValue');
    });
    $(document).ready(function () {
        forms.PatientSearch.DisableSelectBtn("savePatientRecord-" + '@ViewBag.FormValue');
        forms.PriorauthorizationRequestForm.DisableControls();
    });

    $("#searchPatientButton").click(function () {
        // load patient search popup 
        forms.PatientSearch.LoadPatientSearch('@ViewBag.FormValue');
    });

    $("#dateOfBirth").live('click', function () {
        if ($('#ui-datepicker-div').is(':visible')) {
            $("#dateOfBirth").datepicker("hide");
        }
        else {
            $("#dateOfBirth").datepicker();
            $("#dateOfBirth").datepicker("show");
        }
        $("#dateOfBirth").die();
    });

    function printpage() {
        forms.PriorauthorizationRequestForm.Print();
    }

    $("#BtnCancel").click(function () {
        var status = "Are you sure you want to cancel? Your changes will not be saved.";
        jConfirm(status, 'Cancel', function (isCancel) {
            if (isCancel) {
                forms.PriorauthorizationRequestForm.ResetPage();
                forms.PatientSearch.DisableSelectBtn("savePatientRecord-6");
            }
        });
    });
</script>
<div class="grid_24">
    <div class="form-page-header grid_32">
        Prior Authorization Request
    </div>
    <div class="grid_32 alpha  guidance-message ">
        <div class="grid_32 guidance-text-spacing">
        </div>
        <div class="grid_32 ">
            Please perform a patient search to find a specific patient.
        </div>
        <div class="grid_32 guidance-text-spacing">
        </div>
    </div>
    <div class="clear clear-height-spacing">
    </div>
    <div id="prior_authorization_request_main_content" class="div-with-border grid_32 form-content vertical-content-scroll">
        <div class="clear-height-spacing clear">
        </div>
        <div class="grid_32 section-seperator">
            <div class="grid_16">
                <div class="standard-text grid_14 ">
                    Member Name:
                </div>
                <div class="grid_18">
                    @Html.TextBox("memberName", "", new { id = "memberName", @class = "grid_28" })
                </div>
                <div class="clear-height-spacing clear">
                </div>
                <div class="standard-text grid_14 ">
                    Member ID Number:
                </div>
                <div class="grid_18">
                    @Html.TextBox("memberId", "", new { id = "memberId", @class = "grid_28" })
                </div>
                <div class="clear-height-spacing clear">
                </div>
                <div class="standard-text grid_14 ">
                    Date of Birth:
                </div>
                <div class="grid_18">
                    @*@Html.TextBox("dateOfBirth", "", new { id = "dateOfBirth", @class = "grid_28" })*@
                    <input type="text" id="dateOfBirth" class="grid_28" name="" value="" readonly="readonly" />
                </div>
                <div class="clear-height-spacing clear">
                </div>
                <div class="standard-text grid_14 ">
                    Ordering Physician:
                </div>
                <div class="grid_18">
                    @Html.TextBox("orderingPhysician", "", new { id = "orderingPhysician", @class = "grid_28" })
                </div>
                <div class="clear-height-spacing clear">
                </div>
                <div class="standard-text grid_14 ">
                    Physician’s Address:
                </div>
                <div class="grid_18">
                    @Html.TextArea("physicianAddress", "", new { id = "physicianAddress", @class = "grid_28", rows = 5 })
                </div>
            </div>
            <div class="grid_16">
                <div class="standard-text grid_14 ">
                    Provider:
                </div>
                <div class="grid_18">
                    @Html.TextBox("provider", "", new { id = "provider", @class = "grid_28" })
                </div>
                <div class="clear-height-spacing clear">
                </div>
                <div class="standard-text grid_14 ">
                    Provider Fax:
                </div>
                <div class="grid_18">
                    @Html.TextBox("providerFax", "", new { id = "providerFax", @class = "grid_28" })
                </div>
                <div class="clear-height-spacing clear">
                </div>
                <div class="standard-text grid_14 ">
                    Provider Phone:
                </div>
                <div class="grid_18">
                    @Html.TextBox("providerPhone", "", new { id = "providerPhone", @class = "grid_28" })
                </div>
                <div class="clear-height-spacing clear">
                </div>
                <div class="standard-text grid_14 ">
                    Provider Contact Name:
                </div>
                <div class="grid_18">
                    @Html.TextBox("providerContactNumber", "", new { id = "providerContactNumber", @class = "grid_28" })
                </div>
                <div class="clear-height-spacing clear">
                </div>
                <div class="standard-text grid_14 ">
                    Place of Service / Treatment and Address:
                </div>
                <div class="grid_18">
                    @Html.TextArea("placeOfService", "", new { id = "placeOfService", @class = "grid_28", rows = 5 })
                </div>
            </div>
            <div class="clear-height-spacing clear">
            </div>
            <div class="clear-height-spacing clear">
            </div>
        </div>
        <div class="clear-height-spacing clear">
        </div>
        <div class="clear-height-spacing clear">
        </div>
        <div class="grid_32 section-seperator">
            <div class="grid_32">
                <div class="standard-text grid_7 ">
                    Service Requested:
                </div>
                <div class="grid_25">
                    @Html.TextArea("serviceRequested", "", new { id = "serviceRequested", @class = "grid_31", rows = 5 })
                </div>
            </div>
            <div class="clear-height-spacing clear">
            </div>
            <div class="grid_16">
                <div class="standard-text grid_14 ">
                    Starting Service Date:
                </div>
                <div class="grid_18">
                    @Html.TextBox("startingServiceDates", "", new { id = "startingServiceDates", @class = "grid_28" })
                </div>
                <div class="clear-height-spacing clear">
                </div>
                <div class="standard-text grid_14 ">
                    Service Frequency:
                </div>
                <div class="grid_18">
                    @Html.TextBox("serviceFrequency", "", new { id = "serviceFrequency", @class = "grid_28" })
                </div>
                <div class="clear-height-spacing clear">
                </div>
                <div class="standard-text grid_14 ">
                    Procedure/CPT-4 Code(s):
                </div>
                <div class="grid_18">
                    @Html.TextBox("procedureCPT4Codes", "", new { id = "procedureCPT4Codes", @class = "grid_28" })
                </div>
            </div>
            <div class="grid_16">
                <div class="standard-text grid_14 ">
                    Ending Service Date:
                </div>
                <div class="grid_18">
                    @Html.TextBox("endingServiceDates", "", new { id = "endingServiceDates", @class = "grid_28" })
                </div>
                <div class="clear-height-spacing clear">
                </div>
                <div class="standard-text grid_14 ">
                    Diagnosis/ICD-9 Code:
                </div>
                <div class="grid_18">
                    @Html.TextBox("diagnosisICD9Code8", "", new { id = "diagnosisICD9Code8", @class = "grid_28" })
                </div>
            </div>
            <div class="clear-height-spacing clear">
            </div>
            <div class="clear-height-spacing clear">
            </div>
        </div>
        <div class="clear-height-spacing clear">
        </div>
        <div class="clear-height-spacing clear">
        </div>
        <div class="grid_32 section-seperator">
            <div class="grid_16">
                <div class="standard-text grid_14 ">
                    Injury related?
                </div>
                <div class="grid_18 standard-text">
                    @Html.RadioButton("injuryRelated", "Yes", false, new { @id = "injuryRelatedYes" })
                    <label for="injuryRelatedYes">
                        Yes</label>
                    @Html.RadioButton("injuryRelated", "No", false, new { @id = "injuryRelatedNo" })
                    <label for="injuryRelatedNo">
                        No</label>
                </div>
                <div class="clear-height-spacing clear">
                </div>
                <div class="clear-height-spacing clear">
                </div>
                <div class="standard-text grid_14 ">
                    Date of injury:
                </div>
                <div class="grid_18">
                    @Html.TextBox("dateOfInjuryRelated", "", new { id = "dateOfInjuryRelated", @class = "grid_28" })
                </div>
            </div>
            <div class="grid_16">
                <div class="standard-text grid_14 ">
                    Worker's Compensation related?
                </div>
                <div class="grid_18 standard-text">
                    @Html.RadioButton("workersCompensationRelated", "Yes", false, new { @id = "workersCompensationRelatedYes" })
                    <label for="workersCompensationRelatedYes">
                        Yes</label>
                    @Html.RadioButton("workersCompensationRelated", "No", false, new { @id = "workersCompensationRelatedNo" })
                    <label for="workersCompensationRelatedNo">
                        No</label>
                </div>
                <div class="clear-height-spacing clear">
                </div>
                <div class="standard-text grid_14 ">
                    Date of injury:
                </div>
                <div class="grid_18">
                    @Html.TextBox("dateOfInjuryWorkersCompensationRelated", "", new { id = "dateOfInjuryWorkersCompensationRelated", @class = "grid_28" })
                </div>
            </div>
            <div class="clear-height-spacing clear">
            </div>
            <div class="clear-height-spacing clear">
            </div>
        </div>
        <div class="clear-height-spacing clear">
        </div>
        <div class="clear-height-spacing clear">
        </div>
        <div class="grid_32 section-seperator">
            <div class="grid_14">
                <div class="standard-text grid_16 ">
                    Authorization Number:
                </div>
                <div class="standard-text grid_16">
                    @Html.TextBox("authorizationNumber", "", new { id = "authorizationNumber", @class = "grid_30" })
                </div>
            </div>
            @*<div class="clear-height-spacing clear">
                </div>*@
            <div class="grid_9">
                <div class="standard-text grid_16">
                    Effective Date:
                </div>
                <div class="grid_16">
                    @Html.TextBox("effectiveDate", "", new { id = "effectiveDate", @class = "grid_28" })
                </div>
            </div>
            <div class="grid_9">
                <div class="standard-text grid_16">
                    Expiration Date:
                </div>
                <div class="grid_16">
                    @Html.TextBox("expirationDate", "", new { id = "expirationDate", @class = "grid_28" })
                </div>
            </div>
            <div class="clear-height-spacing clear">
            </div>
            <div class="clear-height-spacing clear">
            </div>
        </div>
        <div class="grid_32 standard-text">
            <p>
                We will complete the review in 7 days or less if all necessary documentation is
                received. This timeframe may be extended if the requested information is incomplete
                or additional information is needed.</p>
            <p class="para-ol-pading">
                Expedited/urgent pre-authorizations will be completed within 72 hours or less once
                all necessary information is received. According to ERISA, urgent is defined as
                “any claim for medical care or treatment with respect to which the application of
                the time periods for making non-urgent care determinations:</p>
            <ol class="ol-padding">
                <li>Could seriously jeopardize the life or health of the claimant or the ability of
                    the claimant to regain maximum function or;
                </li>
                <li>In the opinion of the physician with knowledge of the claimant’s medical condition,
                would subject the claimant to severe pain that cannot be adequately managed without
                the care or treatment that is the subject of the claim.”
                </li>
            </ol>
            <p>
                Note: A release of information form included in the application insurance was signed
                by our member.</p>
            <p>
                Please note that the preauthorization of any procedure does not guarantee benefits
                or payment. Approval is not based on medical necessity as defined in the patient’s
                benefit plan or certificate. All benefits are subject to the terms, conditions,
                and exclusions of the benefit plan or certificate. This may include policy language
                regarding pre-existing conditions or signed affidavits stating that the insurance
                bears no responsibility, as signed by the insured. Policy exclusions for certain
                types of services may also apply.</p>
            <div class="grid_32 standard-text header-text alpha">
                Information to Include When Requesting Pre-authorization:
            </div>
            <div class="clear-height-spacing clear">
            </div>
            <div class="grid_32 standard-text alpha">
                <div class="header-text">
                    Medical/Surgical
                </div>
                <ol class="ol-padding">
                    <li>Clinical notes related to diagnosis or procedure including any conservative medical
                        management.</li>
                    <li>Any imaging reports to support the need for treatment.</li>
                </ol>
                <div class="header-text">
                    DME Exceeding $500
                </div>
                <ol class="ol-padding">
                    <li>DME HCPCS code(s) and fees (rental versus purchase).</li>
                    <li>Supporting medical notes and related test results.</li>
                    <li>Name and Tax ID # of DME provider.</li>
                    <li>Signed MD prescription for DME.</li>
                </ol>
                <div class="header-text">
                    Therapies
                </div>
                <ol class="ol-padding">
                    <li>Most recent evaluation and treatment plan (3 months previous therapy notes if
                        applicable).</li>
                    <li>Type of modalities.</li>
                    <li>Signed MD prescription for service.</li>
                    <li>Name and Tax ID of Therapist.</li>
                </ol>
                <div class="header-text">
                    Drugs</div>
                <ol class="ol-padding">
                    <li>Related clinical notes.</li>
                    <li>Specific medical diagnosis/ICD-9 code(s).</li>
                </ol>
                <div class="header-text">
                    Medical/Dental</div>
                <ol class="ol-padding">
                    <li>ADA codes and fees.</li>
                    <li>X-rays.</li>
                    <li>Date of service for procedure</li>
                    <li>Clinical notes related to diagnosis or procedure including any conservative medical
                        management.</li>
                    <li>If this is a dental injury, include the date of injury to tooth or mouth and
                        also a description of how the injury occurred. </li>
                </ol>
            </div>
        </div>
    </div>
</div>
